@import 'tailwindcss';

@source '../../vendor/laravel/framework/src/Illuminate/Pagination/resources/views/*.blade.php';
@source '../../storage/framework/views/*.php';
@source '../**/*.blade.php';
@source '../**/*.js';

@theme {
    --font-sans: 'DM Sans', 'Instrument Sans', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji',
        'Segoe UI Symbol', 'Noto Color Emoji';

    /* -----------------------------------------
       1. ADDING NEW VALUES (EXTENDING)
       ----------------------------------------- */

    /* ---------- Colors ---------- */
    --color-primary-text: #1F2937;
    --color-secondary-text: #6B7280;
    --color-tertiary-text: #DDE9EB;
    --color-sidebar-heading: #9AA0A6;

    --color-like-green: #48C076;
    --color-like-green-active: #57EB90;
    --color-dislike-red: #9D1A2E;
    --color-dislike-red-active: #C52039;

    --color-pdf-data: #E6F1FB;
    --color-txt-data: #F1EFE8;

    --color-preview-bg: #2B2B2B;

    --color-primary: #0891B2;
    --color-secondary: #ECFEFF;

    /* ---------- Font Sizes ---------- */
    --text-card-tags: 0.625rem; /* 10px */
    --text-card-title: 0.875rem; /* 14px */


    /* -----------------------------------------
       2. CHANGING DEFAULT VALUES (OVERRIDING)
       ----------------------------------------- */
}

@layer components {
    /* ---------- Adding new Combination Class ----------
    *  .appropriate-class-name {
    *      @apply list-of-tailwind-css-classes
    *  }
    */
    .hover-pop {
        @apply transition-all duration-200 hover:scale-105 cursor-pointer;
    }

    .preview-button {
        @apply border border-[#555] py-2 px-4 rounded-md select-none
    }

    .sidebar-heading {
        @apply text-sidebar-heading text-xs font-bold
    }
}

@layer utilities {
    .no-scrollbar {
        /* IE and Edge */
        -ms-overflow-style: none;

        /* Firefox */
        scrollbar-width: none;

        /* Safari and Chrome */
        &::-webkit-scrollbar {
            display: none;
        }
    }
}
